
.moonbackground {
    background-image: url(cresent.jpg);
    background-repeat: repeat;
    background-size:contain;
}
.container {
    width: 800px;
    height: 2000px;
    margin-left: 300px;
    background-color: rgba(255, 121, 111, 0.888);
    opacity: 0.8;
}
.header {
    text-align: center;
    font-size: 50px;  
    font-family: 'Lora', serif;
}
.inputinfo {
    border: 4px solid white;
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.astroinfo {
    border: 4px dotted white;
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.phases {
    border: 4px solid white;
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.whatisthis{
    border: 4px dotted white;
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.extra {
    border: 4px solid white;
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.padtop {
    margin-top: 50px;
}