
.moonbackground {
    background-image: url(cresent.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.container {
    margin-right:300px;
    height: 3100px;
    margin-left: 300px;
    background-color: rgba(255, 121, 111, 0.888);
    opacity: 0.8;
}
.header {
    text-align: center;
    font-size: 50px;  
}
.input1 {
    /* border: 4px solid white; */
    height:350px;
    width:auto;
    background-color: rgb(161, 84, 79);
}
.flexhead {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 5px solid black; */
    height: 300px;

}
.flex1 {
    /* flex: 1; */
    /* border: 0.5px dotted rgb(0, 0, 0); */
    height:150px;
    width:300px;
    margin-left: 20px;
    box-shadow: 5px 5px ;
    /* background-color: rgba(159, 63, 56, 0.878); */
}
.flex2{
    /* flex:1; */
    /* border: 0.5px dotted rgb(0, 0, 0); */
    height:150px;
    width: 300px;
    margin-right: 20px;
    box-shadow: 5px 5px ;
    /* background-color: rgba(159, 63, 56, 0.878); */
}
.btn {
    /* border: 5px solid black; */
    text-align: center;
    height:35px;
}
.prettybtn {
    background-color: rgba(29, 29, 57, 0.729);
    box-shadow: 5PX 5PX rgba(43, 41, 40, 0.875);
    color: white;
}
.astroinfo {
    /* border: 4px dotted white; */
    height:1500px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.phases {
    /* border: 4px solid white; */
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.whatisthis{
    /* border: 4px dotted white; */
    height:350px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.extra {
    /* border: 4px solid white; */
    height:250px;
    width:auto;
    /* background-color:rgb(158, 110, 203); */
}
.padtop {
    margin-top: 20px;
    margin-bottom:20px;
}
/* .line {
    height: 1px;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
} */
.moonphases {
    height: 120px;
}
.row1 {
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.row2 {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.margins {
    padding:10px;
    margin-top: 10px;
    margin-left:15px;
    background-color:rgb(35, 35, 52);
    color: white;
}
.changefont {
    font-size: medium;
    font-weight: 800;
    color:rgb(26, 26, 44);
}
.test {
    text-align: center;
    margin-left:20px;
    margin-right:20px;
}
.info {
    text-align: center;
    font-size: xx-large;
}
.conflex {
    height: 230px;
    width: auto;
    /* border: 3px solid black; */
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: large;
}
.alternate {
    background-color: rgb(161, 84, 79);
    margin-top: 5px;
    
}
.lora {
    font-family: 'Lora', serif;
    text-align: center;
}
.extrasmallcredits{
    font-size: x-small;
    text-align: center;
}
.whatisthis {
    background-color: rgb(161, 84, 79);
}
.aligncredits {
    text-align: center;
}
.shadow {
    box-shadow: 5PX 5PX rgba(43, 41, 40, 0.875);
}
.margintop {
    margin-top: 10px;
}
.moonsize .overlay {
    position: absolute;
    top: 80px;
    right: 15px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
}
.lunarsmall {
    height: 150px;
}
.MM {
    text-align: center;
    font-weight: 700;
}


















